# Python
venv/
__pycache__/
*.pyc


# Logs
logs/
*.log

# Environment
.env

# Local configuration
configs/database.yaml
configs/local.yaml
configs/*.local.yaml

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db


# Raw datasets
data/raw/

# Processed datasets
data/processed/

# External datasets
data/external/