--extra-index-url https://download.pytorch.org/whl/cu126

numpy
pandas
scikit-learn
matplotlib
seaborn

torch
torchvision
torchaudio
transformers

fastapi
uvicorn
pydantic

streamlit

pytest

python-dotenv

mlflow
dvc
dill

jupyter
notebook

nltk
tqdm
requests

mysql-connector-python
SQLAlchemy
PyMySQL

statsmodels
pmdarima
prophet

google-genai
markdown

sentence-transformers

faiss-cpu

pyyaml

## backend run :--> python -m uvicorn src.api.main:app --reload --host 127.0.0.1 --port 8000